@import "./reset.css";

/* Color Theme Swatches in Hex */
:root {
  --primary: #165f8c;
  --secondary: #3f8ebf;
  --tertiary: #608ba6;
  --four: #043959;
  --five: #11538c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 48px;
  background: -webkit-linear-gradient(98deg, var(--four) 50%, transparent 50%),
    -webkit-linear-gradient(8deg, white 50%, rgba(233, 233, 233, 233) 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 17px;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  /* color: white; */
}

a,
h4 {
  color: var(--tertiary);
}

body {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav,
main,
footer {
  margin: 1rem 1rem 3rem 1rem;
}

header {
  padding: 2rem;
  margin-bottom: 1rem;
  display: grid;
  justify-content: center;
}
header.background {
  background-color: var(--four);
  background: linear-gradient(
      172deg,
      black 1%,
      var(--four) 50%,
      transparent 50%
    ),
    linear-gradient(8deg, transparent 50%, #e0eafc, #cfdef3 55%, black);
}

nav {
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  margin-bottom: 1rem;
  display: grid;
  justify-content: center;
}

section {
  margin-bottom: 2rem;
}
article {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#lista {
  flex-flow: column wrap;
  align-items: stretch;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
}

.column {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.column p {
  margin-left: 1rem;
}
